---
layout: default
wide: true
section: resources
js: 
 - resources
---

<div class="resources">

  <h1>{{ page.title }}</h1>
  <div class="intro">
    <p><em>Ovaj popis linkova okuplja na jednom mjestu službene i neslužbene izvore otvorenih podataka te prezentacijske i edukativne resurse o otvorenim podacima. Neke od ovih informacija izradile su udruge, civilna društa, akademici, aktivisti ili službenici tijela javne vlasti. Da biste ovdej dodali nove resurse, pratite <a href="contribute/add-resource/">ove korake</a>.</em></p>
  </div>

  <!-- start resource topics section -->
  <section class="topics">
    <header>
      <h2>Teme</h2>
    </header>
    <ul>
      <li>
        <a href="#basics" style="background-image:url(../../img/basics.jpg)" data-attribution="CC BY / iffany terry">
          <h3>Službene stranice tijela</h3>
        </a>
      </li>
      <li>
        <a href="#policy" style="background-image:url(../../img/Policy.jpg)" data-attribution="CC BY / Connect Euranet">
          <h3>Zakonodavni okvir</h3>
        </a>
      </li>
      <li>
        <a href="#standards" style="background-image:url(../../img/print.jpg)" data-attribution="CC BY / Intrinsic-Image">
          <h3>Standardi</h3>
        </a>
      </li>
      <li>
        <a href="#data-training" style="background-image:url(../../img/training.jpg)" data-attribution="CC BY / cybrarian77">
          <h3>Edukacija i trening</h3>
        </a>
      </li>
      <li>
        <a href="#right-to-information" style="background-image:url(../../img/FOI.jpg)" data-attribution="CC BY / opensource.com">
          <h3>Pravo na informiranje</h3>
        </a>
      </li>
      <li>
        <a href="#academic-research" style="background-image:url(../../img/academic.jpg)" data-attribution="CC BY / Connect Euranet">
          <h3>Akademsko istraživanje</h3>
        </a>
      </li>
      <li>
        <a href="#privacy" style="background-image:url(../../img/lock.jpg)">
          <h3>Privatnost</h3>
        </a>
      </li>
      <li>
        <a href="#civic-engagement" style="background-image:url(../../img/Civic.jpg)" data-attribution="CC BY /Matt Fenby Taylor">
          <h3>Građanska uključenost</h3>
        </a>
      </li>
      <li>
        <a href="#advocacy" style="background-image:url(../../img/Advocacy.jpg)" data-attribution="CC BY /Alex Naanou">
          <h3>Javno zagovaranje</h3>
        </a>
      </li>
    </ul>
  </section>
  <!-- end resource topics section -->

  {% comment %}
  <!-- start resource media types section -->
  <section class="media-types">
    <header>
      <h2>Vrste informacija</h2>
    </header>
    <ul>
      <li>
        <a href="#">
          <span class="icon-world"></span>
          <h3>Članci</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon-file-pdf"></span>
          <h3>Prezentacije</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon-book"></span>
          <h3>Publikacije</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon-youtube"></span>
          <h3>Video</h3>
        </a>
      </li>
    </ul>
  </section>
  <!-- end resource media types section -->
  {% endcomment %}

  <!-- start resource list section -->
  <ul class="results">
    <li>
      <a name="basics"></a>
      <h2>Službene stranice tijela</h2>
    {% for resource in site.pages %}
    {% if resource.section == 'resources' and resource.Topic contains 'Službene' %}
      <aside>
        <a class="icon-info"><span>Metadata</span></a>
        <dl>
          <dt>Topic</dt>
          <dd class="Topic">{{ resource.Topic }}</dd>
          <dt>Published by</dt>
          <dd>{{ resource.Publishing_entity }}</dd>
          <dt>Published date</dt>
          <dd>{{ resource.Publishing_date }}</dd>
          <dt>Language</dt>
          <dd class="Language">{{ resource.Language }}</dd>
          <dt>Country</dt>
          <dd class="Country">{{ resource.Country }}</dd>
          <dt>Region</dt>
          <dd class="Region">{{ resource.Region }}</dd>
          <dt>Media Type</dt>
          <dd class="MediaType">{{ resource.MediaType }}</dd>
        </dl>
      </aside>
      <article>
        <span class="topic">{{ resource.Topic }}</span>
        <h2>{{ resource.Title }}</h2>
        <span class="author">
          {{ resource.Author }}
        </span>
        <p>{{ resource.Description }}</p>

        {% if resource.MediaType == 'Articles' %}
        {% assign icon = 'world' %}
        {% assign link_word = 'internetsku stranicu' %}
        {% elsif resource.MediaType == 'Presentations' %}
        {% assign icon = 'file-pdf' %}
        {% assign link_word = 'prezentaciju' %}
        {% elsif resource.MediaType == 'Publications' %}
        {% assign icon = 'book' %}
        {% assign link_word = 'publikaciju' %}
        {% elsif resource.MediaType == 'Video' %}
        {% assign icon = 'youtube' %}
        {% assign link_word = 'video' %}
        {% else  %}
        {% assign icon = 'world' %}
        {% assign link_word = 'link' %}
        {% endif %}

        <a href={{ resource.Link }}><span class="icon-{{ icon }}"></span> <span>Pogledaj {{ link_word }}</span></a>
      </article>
    {% endif %}
    {% endfor %}
    </li>

    <li>
      <a name="policy"></a>
      <h2>Zakonodavni okvir</h2>
      {% for resource in site.pages %}
      {% if resource.section == 'resources' and resource.Topic contains 'Zakonodavni' %}
      <aside>
        <a class="icon-info"><span>Metadata</span></a>
        <dl>
          <dt>Topic</dt>
          <dd class="Topic">{{ resource.Topic }}</dd>
          <dt>Published by</dt>
          <dd>{{ resource.Publishing_entity }}</dd>
          <dt>Published date</dt>
          <dd>{{ resource.Publishing_date }}</dd>
          <dt>Language</dt>
          <dd class="Language">{{ resource.Language }}</dd>
          <dt>Country</dt>
          <dd class="Country">{{ resource.Country }}</dd>
          <dt>Region</dt>
          <dd class="Region">{{ resource.Region }}</dd>
          <dt>Media Type</dt>
          <dd class="MediaType">{{ resource.MediaType }}</dd>
        </dl>
      </aside>
      <article>
        <span class="topic">{{ resource.Topic }}</span>
        <h2>{{ resource.Title }}</h2>
        <span class="author">
          {{ resource.Author }}
        </span>
        <p>{{ resource.Description }}</p>

        {% if resource.MediaType == 'Articles' %}
        {% assign icon = 'world' %}
        {% assign link_word = 'internetsku stranicu' %}
        {% elsif resource.MediaType == 'Presentations' %}
        {% assign icon = 'file-pdf' %}
        {% assign link_word = 'prezentaciju' %}
        {% elsif resource.MediaType == 'Publications' %}
        {% assign icon = 'book' %}
        {% assign link_word = 'publikaciju' %}
        {% elsif resource.MediaType == 'Video' %}
        {% assign icon = 'youtube' %}
        {% assign link_word = 'video' %}
        {% else  %}
        {% assign icon = 'world' %}
        {% assign link_word = 'link' %}
        {% endif %}

        <a href={{ resource.Link }}><span class="icon-{{ icon }}"></span> <span>Pogledaj {{ link_word }}</span></a>
      </article>
    {% endif %}
    {% endfor %}
    </li>

    <li>
      <a name="standards"></a>
      <h2>Standardi</h2>
      {% for resource in site.pages %}
      {% if resource.section == 'resources' and resource.Topic contains 'Standard' %}
      <aside>
        <a class="icon-info"><span>Metadata</span></a>
        <dl>
          <dt>Topic</dt>
          <dd class="Topic">{{ resource.Topic }}</dd>
          <dt>Published by</dt>
          <dd>{{ resource.Publishing_entity }}</dd>
          <dt>Published date</dt>
          <dd>{{ resource.Publishing_date }}</dd>
          <dt>Language</dt>
          <dd class="Language">{{ resource.Language }}</dd>
          <dt>Country</dt>
          <dd class="Country">{{ resource.Country }}</dd>
          <dt>Region</dt>
          <dd class="Region">{{ resource.Region }}</dd>
          <dt>Media Type</dt>
          <dd class="MediaType">{{ resource.MediaType }}</dd>
        </dl>
      </aside>
      <article>
        <span class="topic">{{ resource.Topic }}</span>
        <h2>{{ resource.Title }}</h2>
        <span class="author">
          {{ resource.Author }}
        </span>
        <p>{{ resource.Description }}</p>

        {% if resource.MediaType == 'Articles' %}
        {% assign icon = 'world' %}
        {% assign link_word = 'internetsku stranicu' %}
        {% elsif resource.MediaType == 'Presentations' %}
        {% assign icon = 'file-pdf' %}
        {% assign link_word = 'prezentaciju' %}
        {% elsif resource.MediaType == 'Publications' %}
        {% assign icon = 'book' %}
        {% assign link_word = 'publikaciju' %}
        {% elsif resource.MediaType == 'Video' %}
        {% assign icon = 'youtube' %}
        {% assign link_word = 'video' %}
        {% else  %}
        {% assign icon = 'world' %}
        {% assign link_word = 'link' %}
        {% endif %}

        <a href={{ resource.Link }}><span class="icon-{{ icon }}"></span> <span>Pogledaj {{ link_word }}</span></a>
      </article>
    {% endif %}
    {% endfor %}
    </li>

    <li>
      <a name="data-training"></a>
      <h2>Edukacija i trening</h2>
      {% for resource in site.pages %}
      {% if resource.section == 'resources' and resource.Topic contains 'Edukacij' %}
      <aside>
        <a class="icon-info"><span>Metadata</span></a>
        <dl>
          <dt>Topic</dt>
          <dd class="Topic">{{ resource.Topic }}</dd>
          <dt>Published by</dt>
          <dd>{{ resource.Publishing_entity }}</dd>
          <dt>Published date</dt>
          <dd>{{ resource.Publishing_date }}</dd>
          <dt>Language</dt>
          <dd class="Language">{{ resource.Language }}</dd>
          <dt>Country</dt>
          <dd class="Country">{{ resource.Country }}</dd>
          <dt>Region</dt>
          <dd class="Region">{{ resource.Region }}</dd>
          <dt>Media Type</dt>
          <dd class="MediaType">{{ resource.MediaType }}</dd>
        </dl>
      </aside>
      <article>
        <span class="topic">{{ resource.Topic }}</span>
        <h2>{{ resource.Title }}</h2>
        <span class="author">
          {{ resource.Author }}
        </span>
        <p>{{ resource.Description }}</p>

        {% if resource.MediaType == 'Articles' %}
        {% assign icon = 'world' %}
        {% assign link_word = 'internetsku stranicu' %}
        {% elsif resource.MediaType == 'Presentations' %}
        {% assign icon = 'file-pdf' %}
        {% assign link_word = 'prezentaciju' %}
        {% elsif resource.MediaType == 'Publications' %}
        {% assign icon = 'book' %}
        {% assign link_word = 'publikaciju' %}
        {% elsif resource.MediaType == 'Video' %}
        {% assign icon = 'youtube' %}
        {% assign link_word = 'video' %}
        {% else  %}
        {% assign icon = 'world' %}
        {% assign link_word = 'link' %}
        {% endif %}

        <a href={{ resource.Link }}><span class="icon-{{ icon }}"></span> <span>Pogledaj {{ link_word }}</span></a>
      </article>
     {% endif %}
    {% endfor %}
    </li>

    <li>
      <a name="right-to-information"></a>
      <h2>Pravo na informacije</h2>
      {% for resource in site.pages %}
      {% if resource.section == 'resources' and resource.Topic contains 'Pravo' %}
      <aside>
        <a class="icon-info"><span>Metadata</span></a>
        <dl>
          <dt>Topic</dt>
          <dd class="Topic">{{ resource.Topic }}</dd>
          <dt>Published by</dt>
          <dd>{{ resource.Publishing_entity }}</dd>
          <dt>Published date</dt>
          <dd>{{ resource.Publishing_date }}</dd>
          <dt>Language</dt>
          <dd class="Language">{{ resource.Language }}</dd>
          <dt>Country</dt>
          <dd class="Country">{{ resource.Country }}</dd>
          <dt>Region</dt>
          <dd class="Region">{{ resource.Region }}</dd>
          <dt>Media Type</dt>
          <dd class="MediaType">{{ resource.MediaType }}</dd>
        </dl>
      </aside>
      <article>
        <span class="topic">{{ resource.Topic }}</span>
        <h2>{{ resource.Title }}</h2>
        <span class="author">
          {{ resource.Author }}
        </span>
        <p>{{ resource.Description }}</p>

        {% if resource.MediaType == 'Articles' %}
        {% assign icon = 'world' %}
        {% assign link_word = 'internetsku stranicu' %}
        {% elsif resource.MediaType == 'Presentations' %}
        {% assign icon = 'file-pdf' %}
        {% assign link_word = 'prezentaciju' %}
        {% elsif resource.MediaType == 'Publications' %}
        {% assign icon = 'book' %}
        {% assign link_word = 'publikaciju' %}
        {% elsif resource.MediaType == 'Video' %}
        {% assign icon = 'youtube' %}
        {% assign link_word = 'video' %}
        {% else  %}
        {% assign icon = 'world' %}
        {% assign link_word = 'link' %}
        {% endif %}

        <a href={{ resource.Link }}><span class="icon-{{ icon }}"></span> <span>Pogledaj {{ link_word }}</span></a>
      </article>
    {% endif %}
    {% endfor %}
    </li>

    {% comment %}
    <li>
      <h2>Akademsko istraživanje</h2>
      <a name="academic-research"></a>
    {% for resource in site.pages %}
    {% if resource.section == 'resources' and resource.Topic contains 'Akademsk' %}
      <aside>
        <a class="icon-info"><span>Metadata</span></a>
        <dl>
          <dt>Topic</dt>
          <dd class="Topic">{{ resource.Topic }}</dd>
          <dt>Published by</dt>
          <dd>{{ resource.Publishing_entity }}</dd>
          <dt>Published date</dt>
          <dd>{{ resource.Publishing_date }}</dd>
          <dt>Language</dt>
          <dd class="Language">{{ resource.Language }}</dd>
          <dt>Country</dt>
          <dd class="Country">{{ resource.Country }}</dd>
          <dt>Region</dt>
          <dd class="Region">{{ resource.Region }}</dd>
          <dt>Media Type</dt>
          <dd class="MediaType">{{ resource.MediaType }}</dd>
        </dl>
      </aside>
      <article>
        <span class="topic">{{ resource.Topic }}</span>
        <h2>{{ resource.Title }}</h2>
        <span class="author">
          {{ resource.Author }}
        </span>
        <p>{{ resource.Description }}</p>

        {% if resource.MediaType == 'Articles' %}
        {% assign icon = 'world' %}
        {% assign link_word = 'internetsku stranicu' %}
        {% elsif resource.MediaType == 'Presentations' %}
        {% assign icon = 'file-pdf' %}
        {% assign link_word = 'prezentaciju' %}
        {% elsif resource.MediaType == 'Publications' %}
        {% assign icon = 'book' %}
        {% assign link_word = 'publikaciju' %}
        {% elsif resource.MediaType == 'Video' %}
        {% assign icon = 'youtube' %}
        {% assign link_word = 'video' %}
        {% else  %}
        {% assign icon = 'world' %}
        {% assign link_word = 'link' %}
        {% endif %}

        <a href={{ resource.Link }}><span class="icon-{{ icon }}"></span> <span>Pogledaj {{ link_word }}</span></a>
      </article>
    {% endif %}
    {% endfor %}
    </li>
    {% endcomment %}

    <li>
      <a name="privacy"></a>
      <h2>Privatnost</h2>
      {% for resource in site.pages %}
      {% if resource.section == 'resources' and resource.Topic contains 'Privatnost' %}
       <aside>
        <a class="icon-info"><span>Metadata</span></a>
        <dl>
          <dt>Topic</dt>
          <dd class="Topic">{{ resource.Topic }}</dd>
          <dt>Published by</dt>
          <dd>{{ resource.Publishing_entity }}</dd>
          <dt>Published date</dt>
          <dd>{{ resource.Publishing_date }}</dd>
          <dt>Language</dt>
          <dd class="Language">{{ resource.Language }}</dd>
          <dt>Country</dt>
          <dd class="Country">{{ resource.Country }}</dd>
          <dt>Region</dt>
          <dd class="Region">{{ resource.Region }}</dd>
          <dt>Media Type</dt>
          <dd class="MediaType">{{ resource.MediaType }}</dd>
        </dl>
      </aside>
      <article>
        <span class="topic">{{ resource.Topic }}</span>
        <h2>{{ resource.Title }}</h2>
        <span class="author">
          {{ resource.Author }}
        </span>
        <p>{{ resource.Description }}</p>

        {% if resource.MediaType == 'Articles' %}
        {% assign icon = 'world' %}
        {% assign link_word = 'internetsku stranicu' %}
        {% elsif resource.MediaType == 'Presentations' %}
        {% assign icon = 'file-pdf' %}
        {% assign link_word = 'prezentaciju' %}
        {% elsif resource.MediaType == 'Publications' %}
        {% assign icon = 'book' %}
        {% assign link_word = 'publikaciju' %}
        {% elsif resource.MediaType == 'Video' %}
        {% assign icon = 'youtube' %}
        {% assign link_word = 'video' %}
        {% else  %}
        {% assign icon = 'world' %}
        {% assign link_word = 'link' %}
        {% endif %}

        <a href={{ resource.Link }}><span class="icon-{{ icon }}"></span> <span>Pogledaj {{ link_word }}</span></a>
      </article>

      {% endif %}
      {% endfor %}
    </li>

    <li>
      <a name="civic-engagement"></a>
      <h2>Građanska uključenost</h2>
      {% for resource in site.pages %}
      {% if resource.section == 'resources' and resource.Topic contains 'Građan' %}
      <aside>
        <a class="icon-info"><span>Metadata</span></a>
        <dl>
          <dt>Topic</dt>
          <dd class="Topic">{{ resource.Topic }}</dd>
          <dt>Published by</dt>
          <dd>{{ resource.Publishing_entity }}</dd>
          <dt>Published date</dt>
          <dd>{{ resource.Publishing_date }}</dd>
          <dt>Language</dt>
          <dd class="Language">{{ resource.Language }}</dd>
          <dt>Country</dt>
          <dd class="Country">{{ resource.Country }}</dd>
          <dt>Region</dt>
          <dd class="Region">{{ resource.Region }}</dd>
          <dt>Media Type</dt>
          <dd class="MediaType">{{ resource.MediaType }}</dd>
        </dl>
      </aside>
      <article>
        <span class="topic">{{ resource.Topic }}</span>
        <h2>{{ resource.Title }}</h2>
        <span class="author">
          {{ resource.Author }}
        </span>
        <p>{{ resource.Description }}</p>

        {% if resource.MediaType == 'Articles' %}
        {% assign icon = 'world' %}
        {% assign link_word = 'internetsku stranicu' %}
        {% elsif resource.MediaType == 'Presentations' %}
        {% assign icon = 'file-pdf' %}
        {% assign link_word = 'prezentaciju' %}
        {% elsif resource.MediaType == 'Publications' %}
        {% assign icon = 'book' %}
        {% assign link_word = 'publikaciju' %}
        {% elsif resource.MediaType == 'Video' %}
        {% assign icon = 'youtube' %}
        {% assign link_word = 'video' %}
        {% else  %}
        {% assign icon = 'world' %}
        {% assign link_word = 'link' %}
        {% endif %}

        <a href={{ resource.Link }}><span class="icon-{{ icon }}"></span> <span>Pogledaj {{ link_word }}</span></a>
      </article>

    {% endif %}
    {% endfor %}
    </li>

    <li>
      <a name="advocacy"></a>
      <h2>Javno zagovaranje</h2>
      {% for resource in site.pages %}
      {% if resource.section == 'resources' and resource.Topic contains 'zagovara' %}
      <aside>
        <a class="icon-info"><span>Metadata</span></a>
        <dl>
          <dt>Topic</dt>
          <dd class="Topic">{{ resource.Topic }}</dd>
          <dt>Published by</dt>
          <dd>{{ resource.Publishing_entity }}</dd>
          <dt>Published date</dt>
          <dd>{{ resource.Publishing_date }}</dd>
          <dt>Language</dt>
          <dd class="Language">{{ resource.Language }}</dd>
          <dt>Country</dt>
          <dd class="Country">{{ resource.Country }}</dd>
          <dt>Region</dt>
          <dd class="Region">{{ resource.Region }}</dd>
          <dt>Media Type</dt>
          <dd class="MediaType">{{ resource.MediaType }}</dd>
        </dl>
      </aside>
      <article>
        <span class="topic">{{ resource.Topic }}</span>
        <h2>{{ resource.Title }}</h2>
        <span class="author">
          {{ resource.Author }}
        </span>
        <p>{{ resource.Description }}</p>

        {% if resource.MediaType == 'Articles' %}
        {% assign icon = 'world' %}
        {% assign link_word = 'internetsku stranicu' %}
        {% elsif resource.MediaType == 'Presentations' %}
        {% assign icon = 'file-pdf' %}
        {% assign link_word = 'prezentaciju' %}
        {% elsif resource.MediaType == 'Publications' %}
        {% assign icon = 'book' %}
        {% assign link_word = 'publikaciju' %}
        {% elsif resource.MediaType == 'Video' %}
        {% assign icon = 'youtube' %}
        {% assign link_word = 'video' %}
        {% else  %}
        {% assign icon = 'world' %}
        {% assign link_word = 'link' %}
        {% endif %}

        <a href={{ resource.Link }}><span class="icon-{{ icon }}"></span> <span>Pogledaj {{ link_word }}</span></a>
      </article>

      {% endif %}
      {% endfor %}
    </li>

  </ul>
  <!-- end resource list section -->

</div>
{% include page-tools.html %}
